<div class="comment">
  <p><%= comment.body %></p>
  <div class="row">
    <div class="ten columns">
      <p><strong><%= link_to comment.commenter.username, "#" %></strong> <em class="date">Posted on <%= comment.created_at.to_formatted_s(:long_ordinal) %></em> </p>
      <%= link_to_function "Reply", "$('.replyform').slideToggle();",:class => "button tiny radius" %>
      <div class="replyform" style="display:none;">
        <h4>Reply to comment</h4>
          <%= render partial: 'comments/form', locals: { submit_text: "Post Reply",comment: @comment } %>
      </div>
    </div>
    <div class="two columns text-right">
      <%= image_tag comment.commenter.gravatar_url, :class => "gravatar" %>
    </div>
  </div>
</div>