<div class="comment clearfix" id="comment_<%= comment.id %>">
  <div class="left">
    <div class="gravatar">
      <%= image_tag comment.commenter.gravatar_url %>
    </div>
  </div>
  <div class="right">
    <div class="commentheader">
      <span><strong><%= link_to comment.commenter.username, "#" %></strong> <em class="date">Posted on <%= comment.created_at.to_formatted_s(:long_ordinal) %></em> </span>
    </div>
    <div class="commentbody">
      <p><%= comment.body %></p>
      <%- if user_signed_in? %>
        <%= link_to "Reply", new_book_topic_comment_path(@book,@topic,:parent_comment_id => comment.id),id: "comment", :class => "button secondary tiny radius", :remote => true %>
      <%- end %>
    </div>
    <%= render comment.replies %>

  </div>
</div>
