<div class="comment">
  <p><%= comment.body %></p>
  <div class="row">
    <div class="ten columns">
      <p><strong><%= link_to comment.commenter.username, "#" %></strong> <em class="date">Posted on <%= comment.created_at.to_formatted_s(:long_ordinal) %></em> </p>
      <%= link_to "Reply", :root,:class => "button tiny radius" %>
    </div>
    <div class="two columns text-right">
      <%= image_tag comment.commenter.gravatar_url, :class => "gravatar" %>
    </div>
  </div>
</div>