<div class="comment clearfix">
  <div class="left">
    <div class="gravatar">
      <%= image_tag comment.commenter.gravatar_url %>
    </div>
  </div>
  <div class="right">
    <div class="commentheader">
      <span><strong><%= link_to comment.commenter.username, "#" %></strong> <em class="date">Posted on <%= comment.created_at.to_formatted_s(:long_ordinal) %></em> </span>
    </div>
    <div class="commentbody">
      <p><%= comment.body %></p>
      <%- if user_signed_in? %>
        <%= link_to_function "Reply", "$(this).next('.replyform').slideToggle();",:class => "button secondary tiny radius" %>
      <%- end %>
        <div class="replyform" style="display:none;">
          <h6>Reply to <%= comment.commenter.username %></h6>
            <%= render partial: 'comments/form', locals: { submit_text: "Post Reply", comment: comment.replies.build } %>
        </div>
    </div>

    <%= render comment.replies %>
  </div>
</div>
