
<div class="row">
  <div class="nine columns">
    <%= form_for @book, :html => { :multipart => true } do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, :placeholder => "Title Goes Here" %>
      <%= f.label :description %>
      <%= f.text_area :description, :rows => 15, :placeholder => "The synopsis/overview of the book goes here." %>
      <%= f.label :buy_link %>
      <%= f.text_field :buy_link, :size => 20, :placeholder => "http://www.example.com" %>
      <p>* all fields are required</p>
  </div>
  <div class="three columns">
    <div class="box">
      <div class="header">Upload an Image</div>
      <div class="body">
        <% if @book.coverimage.exists? %>
          <%= image_tag @book.coverimage %>
          <%= f.file_field :coverimage %>
        <% else %>
          <%= f.file_field :coverimage %>
          <% end %>
      </div>
    </div>
    <div class="box">
      <div class="header">Categories</div>
      <div class="body">
      <%= hidden_field_tag "book[tag_ids][]", nil %>
      <% Tag.all.each do |tag| %>
        <label for="<%= dom_id(tag) %>">
        <%= check_box_tag "book[tag_ids][]", tag.id, @book.tag_ids.include?(tag.id), id: dom_id(tag) %>
        <%= tag.name %>
        </label>
      <% end %>
      <%= link_to "Add Category", new_tag_path, id: "new_category", :remote => true %>
      </div>
      <%= f.submit submit_text, :class => "button" %>
    <%- end %>
    </div>
  </div>
</div>