<div class="eight columns">
  <div class="row book">
    <div class="four columns">
      <img src="http://placehold.it/200x300">
      <%- if user_signed_in? %>
      <p><%= link_to "Edit Book", edit_book_path(@book) %></p>
      <% end %>
    </div>
    <div class="eight columns">
      <h3 class="subheader"><%= @book.title %></h3>
      <p><%= @book.description[0..500] %></p>
      <a href="<%= url_for(@book.buy_link) %>" class="right" target="blank">Buy the Book</a>
    </div>
  </div>
  <div class="">
      <h4>Topics</h4>
      <% if user_signed_in? %>
        <p><%= link_to "Add Topic", new_book_topic_path(@book), :class => "right" %></p>
      <% end %>
      <table class="twelve">
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Comments</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <%= render @topics %>
        </tbody>
        </table>
  </div>
</div>
<div class="four columns panel">
  recent comments will go here
</div>